[Desktop Entry]
Encoding=UTF-8
Name=Adina Wallet
Comment=Adina wallet
Exec=adinawallet
Terminal=false
Type=Application
Icon=adina
MimeType=x-scheme-handler/adinawallet;
Categories=Office;Finance;
Name[en_US]=adinawallet
